#main_search_widget{
    background-color: #60000000;
}
#panel_widget{
    background-color: #1b1b1b;
}
.panel_type_buttons{
    color: #FAFAFA;
    background-color: #252525;
    border: 0;
    border-radius: 0.5em;
    padding: 0.3em;
    font-size: 14px;
}
.panel_type_buttons:hover{
    background-color: #031913;
}