#main_changelog_error_widget{
    background-color: #c3c3c3;
    border: 0;
}
#icon_label{
    background-color: #00000000;
}
#loading_message_label{
    color: #1a1a1a;
    background-color: #00000000;
    border: 0;
    padding: 0.5em;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.3em;
}