#ObjectStatsW{
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
}
#TitleL{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
#ScrollS{
    border: 0;
}
#WidgetW{
    border: 0;
}
.Title{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.SubTitle{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.Name{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2em;
}
.Value{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2em;
}