#main_mid_object_list{
    background-color: #202020;
}
#title_label{
    color: #FAFAFA;
    background-color: #00000000;
    padding: 0.3em;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.4em;
}
.controll_button{
    color: #FAFAFA;
    background-color: #252525;
    border: 0;
    padding: 0.3em;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3em;
}
.controll_button:hover{
    background-color: #031913;
}
#list_scroll{
    background-color: #202020;
    border: 0;
}
#list_scroll QScrollBar:vertical, #list_scroll QScrollBar:horizontal{
    border: none;
    background: #1e1e1e;
    width: 8px;
    margin: 0;
}
#list_scroll QScrollBar::handle:vertical, #list_scroll QScrollBar::handle:horizontal{
    background: #353535;
    min-height: 15px;
    border-radius: 2px;
}
#list_scroll QScrollBar::handle:vertical:hover, #list_scroll QScrollBar::handle:horizontal:hover {
    background: #031913;
}

#list_scroll QScrollBar::add-line:vertical, #list_scroll QScrollBar::sub-line:vertical, #list_scroll QScrollBar::add-line:horizontal, #list_scroll QScrollBar::sub-line:horizontal{
    border: none;
    background: none;
}

#list_scroll QScrollBar::add-page:vertical, #list_scroll QScrollBar::sub-page:vertical, #list_scroll QScrollBar::add-page:horizontal, #list_scroll QScrollBar::sub-page:horizontal{
    background: none;
}
#list_widget{
    background-color: #202020;
}
.section_widget{
    background-color: #202020;
}
.section_open_button{
    color: #FAFAFA;
    background-color: #252525;
    border: 0;
    padding: 0.2em;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.3em;
}
.section_open_button:hover{
    background-color: #031913;
}
.items_widget{
    background-color: #1e1e1e;
}
.items_hash_tag{
    color: #FAFAFA;
    background-color: #00000000;
    border: 0;
    padding: 0.3em;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.4em;
}
.tag{
    color: #FAFAFA;
    background-color: #00000000;
    border: 0;
    padding: 0.3em;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.4em;
}
.index_label{
    color: #FAFAFA;
    background-color: #00000000;
    border: 0;
    padding: 0.3em;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
.data_label{
    color: #FAFAFA;
    background-color: #00000000;
    border: 0;
    padding: 0.3em;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
.data_button{
    color: #FAFAFA;
    background-color: #252525;
    border: 0;
    padding: 0.6em;
    margin: 0.3em;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.3em;
}
.data_button:hover{
    background-color: #031913;
}
.lists_background_widget{
    background-color: #50000000;
}
.lists_widget{
    background-color: #202020;
    border: 0;
}
.lists_title_label{
    color: #FAFAFA;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.4em;
}
.lists_exit_button{
    color: #FAFAFA;
    background-color: #252525;
    border: 0;
    padding: 0.4em;
}
.lists_exit_button:hover{
    background-color: #031913;
}
.lists_scroll{
    background-color: #202020;
    border: 0;
}
.lists_scroll QScrollBar:vertical{
    border: none;
    background: #1e1e1e;
    width: 8px;
    margin: 0;
}
.lists_scroll QScrollBar::handle:vertical {
    background: #353535;
    min-height: 15px;
    border-radius: 2px;
}

.lists_scroll QScrollBar::handle:vertical:hover {
    background: #031913;
}

.lists_scroll QScrollBar::add-line:vertical, .lists_scroll QScrollBar::sub-line:vertical {
    border: none;
    background: none;
}

.lists_scroll QScrollBar::add-page:vertical, .lists_scroll QScrollBar::sub-page:vertical {
    background: none;
}
.lists_scroll_widget{
    background-color: #202020;
}
.lists_scroll_button{
    color: #FAFAFA;
    background-color: #252525;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3em;
    padding: 0.4em;
}
.lists_scroll_button:hover{
    background-color: #031913;
}
.lists_edit_data_button{
    color: #FAFAFA;
    background-color: #252525;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3em;
    padding: 0.4em;
}
.lists_edit_data_button:hover{
    background-color: #031913;
}
#lists_edit_data_set_button{
    color: #FAFAFA;
    background-color: #252525;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.3em;
    padding: 0.4em;
}
#lists_edit_data_set_button:hover{
    background-color: #031913;
}
