#main_mid_object_list{
    background-color: #202020;
}
#title_label{
    color: #FAFAFA;
    background-color: #00000000;
    padding: 0.3em;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.4em;
}
#tag_widget{
    background-color: #202020;
}
.controll_button{
    color: #FAFAFA;
    background-color: #252525;
    border: 0;
    padding: 0.3em;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
.controll_button:hover{
    background-color: #031913;
}
#list_scroll{
    background-color: #202020;
    border: 0;
}
#list_widget{
    background-color: #202020;
}
.list_tag{
    color: #FAFAFA;
    background-color: #202020;
    padding: 0.5em;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.3em;
}
.indexes{
    color: #FAFAFA;
    background-color: #00000000;
    margin-bottom: 4px;
    padding: 0.3em;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2em;
}
.logos{
    background-color: #00000000;
    margin-bottom: 4px;
    border-radius: 0.2em;
}
.tickers{
    color: #FAFAFA;
    background-color: #252525;
    margin-bottom: 4px;
    border: 0;
    padding: 0.3em;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.4em;
}
.tickers:hover{
    background-color: #031913;
}
.ticker:focus{
    background-color: #031913;
}
#lists_background_widget{
    background-color: #50000000;
}
#lists_widget{
    background-color: #202020;
    border: 0;
}
#lists_title_label{
    color: #FAFAFA;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.4em;
}
#lists_exit_button{
    color: #FAFAFA;
    background-color: #252525;
    border: 0;
    padding: 0.4em;
}
#lists_exit_button:hover{
    background-color: #031913;
}
#lists_scroll{
    background-color: #252525;
    border: 0;
}
#lists_scroll_widget{
    background-color: #00000000;
}
.lists_scroll_button{
    color: #FAFAFA;
    background-color: #252525;
    border: 0;
    padding: 0.4em;
}
.lists_scroll_button:hover{
    background-color: #031913;
}
