#nav_widget{
    background-color: #45090a0a;
}
#nav_search_button{
    color: #d7d7d7;
    background-color: #1a1a1a;
    border: 0;
    padding: 0.1em;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.2em;
}
#nav_search_button:hover{
    background-color: #282828;
}
.nav_list_button{
    color: #d7d7d7;
    background-color: #1a1a1a;
    border: 0;
    border-radius: 15px;
    padding: 0.1em;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2em;
}
.nav_list_button:hover{
    background-color: #282828;
}
.nav_bottom_button{
    color: #d7d7d7;
    background-color: #1a1a1a;
    border: 0;
    border-radius: 0.3em;
    padding: 0.1em;
}
.nav_bottom_button:hover{
    background-color: #282828;
}
.bottom_button{
    color: #d7d7d7;
    background-color: #1e1e1e;
    border: 0;
    padding: 0em;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.bottom_button:hover{
    background-color: #282828;
}