#main_mid_object_widget{
    background-color: #1e1e1e;
}
#icon_label{
    border-radius: 0.5em;
}
#ticker_label{
    color: #fafafa;
    background-color: #00000000;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.4em;
}
#name_label{
    color: #fafafa;
    background-color: #00000000;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3em;
}

