#login_widget{
    background-color: #FAF7F0;
}
#login_title_label{
    color: #1e1e1e;
    padding: 0.5em;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.3em;
}
#login_day_night_button{
    background-color: #D8D2C2;
    border-radius: 1.85em;
    padding: 0.5em;
}
#login_day_night_button:hover{
    background-color: #B17457;
}
.login_input_line{
    color: #1e1e1e;
    background-color: #D8D2C2;
    border: 0;
    border-radius: 0.1em;
    padding: 1em;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
.login_control_button{
    color: #1e1e1e;
    background-color: #D8D2C2;
    border-radius: 0.1em;
    padding: 1.5em;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3em;
}
.login_control_button:hover{
    background-color: #B17457;
}
