.login_input_line{
    color: #FAFAFA;
    background-color: #1e1e1e;
    border: 0;
    border-radius: 0.1em;
    padding: 1em;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
.login_control_button{
    color: #FAFAFA;
    background-color: #1e1e1e;
    border-radius: 0.1em;
    padding: 1.5em;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3em;
}
.login_control_button:hover{
    background-color: #031913;
}
#login_welcome_label{
    color: #FAFAFA;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.5em;
}
#dasd{
    color: #FFD9A3;
    color: #FFF5B7;
    color: #87CEEB;
    color: #00bfff;
    color: #FFD580;
    color: #FFB347;
    color: #FF6F61;
    color: #6A5ACD;
    color: #191970;
    color: #0B0C10;
}