#main_mid_news{
    background-color: #252525;
    border: 0;
}
.news_button{
    background-color: #1e1e1e;
    border: 0;
}
.text_label{
    color: #FAFAFA;
    background-color: #60000000;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.5em;
}
.next_buttons{
    color: #fafafa;
    background-color: #252525;
    border: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
.next_buttons:hover{
    background-color: #031913;
}
